body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    height: 280px;
}

.box {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.menuHeader {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #044afc;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #044afc;
}

.produtos li:active {
    border-color: #149b55;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produtos h2 {
    font-size: 28px;
    font-weight: bold;
}

.descricao {
    font-size: 18px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10;
}

@media screen and (max-width: 480px) {

    .box {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    main {
        margin: 2rem;
    }

    .produtos {
        display: flex;
        flex-direction: column;
    }

    .produtos li {
        margin: 1rem;
    }
}

footer {
    text-align: center;
    background: url("assets/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}