.listaTarefas {
  grid-area: tarefas;
  height: 100%;
  font-size: 1rem;

  p {
    margin-bottom: 12px;
    color: #d0d0d0;
    font-size: 1rem;
  }

  ul {
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  @media screen and (min-width: 1280px) {
    p {
      text-align: center;
      font-size: 1.5rem;
      color: #d0d0d0;
      margin-bottom: 24px;
    }

    ul {
      overflow: auto;
      max-height: 500px;
    }
  }
}
